* {
    margin: 0px;
}


h1 {
    font-family: 'Yanone Kaffeesatz';
    font-size: 5em;
    padding: 10px;
    color: white;

}


h2 {
    font-family: 'Raleway';
    font-size: 1.1em;
    padding: 10px;
    margin-top: -15px;
    color: black;
    

}

h4 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 1.5em;
}


/*Main Page */

#maincontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #488ce0;
    
}

/* Form */

form {
    padding: 5px;
    width:75%
}

input {
    padding: 10px;
    margin: 10px;
}

input[type=text] {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 1.5em;
    width: 100%;
    padding: 12px 5px;
    margin: 8px 0;
    border: none;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

input[type=submit] {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 1.5em;
    margin: 8px 0px;
    background-color: #FFD85C;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    
}


input[type=date]{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 1.5em;
    margin: 8px 0px;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border: none;
}


/* Second Page*/
#bar {
    background-color: #488ce0
    
}
h3 {
    font-family: 'Raleway';
}

h5{
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 1.5em;
    grid-column-start: 1/-1;

}

#container {
    display: grid;
    grid-template-rows: 150px 50px;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 10px;
    margin:10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
#block1 {
    background-color: lightblue;
    border-top-left-radius: 10px;
}
#block2 {
    background-color: lightcoral;

}
#block3 {
    background-color: lightgreen;
    border-top-right-radius: 10px;
}

/* Third Page */





/* SkyCons */
#clear-day {
    position: absolute;
    height: 100px;
    left: 120px;
    top: 5px;
}





/* Form Number Stepper */
input[type=number] {
    float: left;
    width: 70px;
    height: 35px;
    padding: 0;
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
    color: black;
    background: white;
    outline: none;
    pointer-events: none;
    font-family: 'Raleway';
    font-weight: 600;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border:none;
    
  }
  
  span.spinner {
    position: absolute;
    height: 40px;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    
    
  }
  
  span.spinner > .sub,
  span.spinner > .add {
    float: left;
    display: block;
    width: 35px;
    height: 35px;
    text-align: center;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 2em;
    line-height: 35px;
    color: black;
    border: none;
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.1s linear;
    -o-transition: 0.1s linear;
    -ms-transition: 0.1s linear;
    -moz-transition: 0.1s linear;
    -webkit-transition: 0.1s linear;
    margin-top: 8px;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    
  }
  
  span.spinner > .add {
    top: 0;
    border: none;
    border-radius:20px;
  }
  
  span.spinner > .sub:hover,
  span.spinner > .add:hover {
    background: white;
    color: #25323B;
  }
   input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
   -webkit-appearance: none;
  }