* {
    margin: 0px
}


h1 {
    font-family: 'Yanone Kaffeesatz';
    font-size: 4em;
    padding: 10px;
    color: white;
    grid-column: 1/10;
    grid-row: 1;
    padding-bottom: 40px;

}


h2 {
    font-family: 'Raleway';
    font-size: 1.1em;
    padding: 10px;
    color: black;
    grid-row: 1;
    grid-column: 1;
    text-align: center;
    

}

h4 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 1.2em;
    margin: none;
}


/*Main Page */

#maincontainer {
    display: grid;
    grid-template-columns:  repeat(20, 10%); 
    grid-template-rows: repeat(20, 10%); 
    background-color: #488ce0;
    padding: 10px;
    justify-items: center;
    
}


/* SkyCons */
#clear-day {
    grid-column: 5;
    grid-row: 1;
    height: 70px;

}

/* Form */

#form {
    grid-row-start: 3;
    grid-column: 1/9;
    padding: 15px;
    margin: unset;
}

input {
    padding: 10px;
    
}

input[type=text] {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 1.5em;
    width: 100%;
    padding: 12px 5px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

input[type=submit] {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 1.5em;
    margin: 8px 0px;
    background-color: #FFD85C;
    border-radius: 10px;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    
}


input[type=date]{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 1.5em;
    margin: 8px 0px;
    border-radius: 10px;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border: none;
}

input[type=number] {
    float: left;
    width: 70px;
    height: 35px;
    padding: 0;
    margin: 5px;
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
    color: black;
    background: white;
    outline: none;
    pointer-events: none;
    font-family: 'Raleway';
    font-weight: 600;
    border-radius: 10px;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border:none;
    
  }
  #minus{
    background-color: white;
    width: 30px;
    height: 30px;
    float: left;
    border-radius: 200px;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin: 5px;
}

#plus{
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 200px;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin: 5px;

}

/*<canvas id="clear-day"></canvas>


/* Second Page*/

#bar {
    background-color: #488ce0;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 1fr;
    height: 55px;
    
}
h3 {
    font-family: 'Raleway';
    grid-column: 2;
    color: white;
    text-align: center;
    padding-top: 7px;
    font-size: 2em;
}   

#backbutton {
    color:white;
    background-color: #488ce0;
    border: none;

}

h5{
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 3em;
    grid-column: 1/4;
    text-align: center;
    padding-top: 5px;


}

#container {
    display: grid;
    grid-template-rows: 70px 170px;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 30px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
#block1 {
    
    border-bottom-left-radius: 10px;
    display: grid;
    align-items: center;
    justify-items: center;
}
#block2 {
    display: grid;

    
    align-items: center;
    justify-items: center;
    

}
#block3 {
    display: grid;
 
    align-items: center;
    justify-items: center;
    
    border-bottom-right-radius: 10px;
}

#miniDate {
    font-size: 1em;
    padding: 4px;
    align-content: right;
}

#miniDateSubmit {
    font-size: 1em;
    padding: 4px;
    align-content: right;
}

#miniDates{
    float:right;
    padding-right: 10px;
    margin-top: 5px;
}

.normal {
    background-color:white;
    color: black;
}

.rain {
    background-color: #488ce0;
}
.rain h2 {
    color:white;
}
.rain h6 {
    color:white;
}
.snow {
    background-color: #9b9b9b;
}

.snow h2{
    color: white;
}

.snow h6 {
    color: white;
}

.alert {
    background-color: black;
}

.alert h6 {
    color: red;
}
.alert h2 {
    color: white;
}

#secondcontainer {
    margin-top: 60px;
}

.iconImage {
    align-items: center;
    height: 70px;
}

#iconText {
    font-family: 'Raleway';
    font-size: 1.8em;
    text-transform: uppercase;
    padding-bottom: 10px;

}
#locationName {
    background-color: #FFD85C;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

/* Third Page */







